@charset "utf-8";
@import "normalize";

.container {
  margin: 0 2%;
}

.main {
  width: 66%;
  float: left;
}
.header{

}
aside {
  width: 33%;
  float: right;
}

a {
  color: #0068b3;
}
a:visited {
  color: rgba(217,137,39,0.5)
}

.highlight {
  overflow: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

code {
  display: inline-block;
  background-color: #1b1d1e;
  color: white;
}

.title {
  letter-spacing: 16px;
  font-size: 72px;
  text-align: center;
}

.intro {
  letter-spacing: 2px;
  text-align: center;
}

// CSS that came with middleman

body {
  background: #d9d9d9;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: rgba(217,104,39,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}
h2 {
  color: rgba(0,167,179,0.5);
}
.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

@media (max-width: 768px) {
  .main {
    width: 100%;
  }
  aside {
    width: 100%
  }

  .title {
    letter-spacing: 12px;
    font-size: 48px;
    text-align: center;
  }
}
